@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <div class="profile">
                    <img src="~/images/icons/icons8-user-48.png" alt="Profile Picture" class="profile-picture border border-dark rounded-circle" />
                <span>@User.Identity?.Name!</span>
            </div>
        </a>
    </li>
    <li class="nav-item d-flex align-items-center">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

<style>
    .profile {
        display: flex;
        align-items: center;
    }
    .profile-picture {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
    }
</style>
